@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,600,700,800&display=swap');

* {
	font-family: 'EB Garamond', serif;
}

input {
	cursor: pointer;
}

a {
	text-decoration: none;
	cursor: pointer;
}

a:visited {
	color: inherit;
}

h1 {
	text-align: center;
}

form p {
	display: inline-block;
}
