@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,600,700,800&display=swap');

* {
	font-family: 'EB Garamond', serif;
	color: #231c16;
}

#main {
	margin: 5%;
	padding: 5%;
	background-color: #fcf9f4;
}

input {
	cursor: pointer;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #baa683;
}

a:visited {
	/* color: inherit; */
	color: #baa683;
}

h1 {
	text-align: center;
	color: #8191b8;
	font-size: 2.5em;
}

h2 {
	text-align: center;
	font-size: 1.5em;
	font-weight: 400;
}

form p {
	display: inline-block;
}

#handle,
.top {
	stroke: #bba683;
	stroke-width: 1px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}

#handle {
	fill: none;
}

.top {
	fill: white;
	animation: umbrellaAnimation 1s linear 1;
	animation-fill-mode: forwards;
}

@keyframes umbrellaAnimation {
	0% {
		transform-origin: 32px 10px;
		-webkit-transform-origin: 32px 10px;
		-ms-transform-origin: 32px 10px;
	}
	100% {
		transform-origin: 32px 10px;
		-webkit-transform-origin: 32px 10px;
		-ms-transform-origin: 32px 10px;
		transform: scaleY(1.5) scaleX(0.25);
		-webkit-transform: scaleY(1.5) scaleX(0.25);
		-ms-transform: scaleY(1.5) scaleX(0.25);
	}
}

@keyframes umbrellaAnimationReverse {
	0% {
		transform-origin: 32px 10px;
		-webkit-transform-origin: 32px 10px;
		-ms-transform-origin: 32px 10px;
		transform: scaleY(1.5) scaleX(0.25);
		-webkit-transform: scaleY(1.5) scaleX(0.25);
		-ms-transform: scaleY(1.5) scaleX(0.25);
	}
	100% {
		transform-origin: 32px 10px;
		-webkit-transform-origin: 32px 10px;
		-ms-transform-origin: 32px 10px;
	}
}

#umbrella {
	width: 20%;
	display: block;
}

#cloudDiv {
	text-align: center;
	margin-bottom: 10%;
}

#clouds {
	/* background-color: red; */
	/* border: 1px solid red; */
	margin: -30px 0 -50px 0;
}

#cloud1,
#cloud2 {
	stroke: #bba683;
	stroke-width: 1px;
	fill: white;
}
